@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
.home{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    
}
.title{
     font-family: "Alfa Slab One", serif;
    font-weight: 700;
    font-size: 70px;
   
    color:white;
    text-transform: uppercase;
    cursor: pointer;letter-spacing: 7px;
    
    background: linear-gradient(45deg, #aaa, #fff, #ff00ff, #00ffff);
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
  
      color: transparent;
      animation: glow 4s infinite linear;
      transition: 0.4s ease-in-out;
}
.title:hover {
  animation: glitter 2s infinite;
  filter: drop-shadow(0 0 25px #e419ff);
}



@keyframes glow {
  0% { background-position: 0%; }
  100% { background-position: 300%; }
}


@keyframes glitter {
  0% { filter: drop-shadow(0 0 20px #fff); }
  50% { filter: drop-shadow(0 0 50px #00ffff); }
  100% { filter: drop-shadow(0 0 20px #ff00ff); }
}


.btn-cont{
    margin-top: 30px;
    display: flex;
    gap: 40px;
}
.signin,.login{

  padding: 14px 30px;
  font-size: 1.2rem;
  border: 2px solid #ffffff55;
  border-radius: 30px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  backdrop-filter: blur(5px);
}
.signin,.login:hover {
  border-color: cyan;
  box-shadow: 0 0 15px cyan;
}
.signin:hover {
    color: black;
    background-color: rgb(183, 183, 183);
}
